/*margenes de toda la pagina*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*estilos del cuerpo de l html*/
body{
    font-family: sans-serif, Arial, Helvetica;
    padding: 90px 20px 0;
}
/*estilos para la cabecera y barra de navegacion*/
.header{
    background: rgb(10, 10, 10);
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.nav{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 992px;
}
.logo{
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
}
.navUl{
    display: flex;
    margin-right: 40px;
    list-style: none;
}
.navLi{
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}
.navLi a{
    padding: 8px 12px;
    transition: all 0.5s linear;
    border-radius: 4px;
}
.navLi a:hover{
    background-color: rgb(190, 73, 4);
}
.navButton{
    color: rgb(255, 255, 255);
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
    display: none;
}
/*estilos para la pagina version celular*/
@media (max-width: 768px){
    body{
        padding-top: 70px;
    }
    .header{
        height: 60px;
    }
    .logo{
        font-size: 25px;
        padding: 0 20px;
        line-height: 60px;
    }
    .navUl{
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        background-color: rgb(10, 10, 10);
        position: fixed;
        top: 60px;
        width: 100%;
        padding: 20px 0;
        height: calc(100% - 60px);
        overflow-y: auto;
        left: 100%;
        transition: left 0.3s;
    }
    .navLi{
        line-height: 70px;
    }
    .navLi a:hover{
        background: none;
        color: rgb(190, 73, 4);
    }
    .navButton{
        display: block;
    }
    /*estilos para el menu despelgable*/
    .navUl_visible{
        left: 0;
    }
    .navButton:focus:not(:focus-visible){
        outline: none;
    }
}